<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testgfan">
	<test name="testLogin" preserve-order="true">
		<classes>
			<class name="com.newgfan.test.MainPage01" />
			<methods>
				<include name="topBanner" />
				<include name="leftBanner" />
				<include name="topLine" />
				<include name="middleBanner" />
			</methods>
			<class name="com.newgfan.test.NavigatorTest" />
			<method>
				<include name="clickLogo" />
				<include name="clickPhone" />
				<include name="clickComputer" />
				<include name="clickSmart" />
				<include name="clickWemedia" />
				<include name="clickJiaDian" />
				<include name="clickOffice" />
				<include name="clickBBS" />
			</method>
		</classes>

	</test>
</suite>